.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .chart-container {
    height: 450px;
  }
}